

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2DFCE;
  
}

header {
  background-color: teal;
  height: 85px;
  margin-bottom: 30px;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3vw;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  mar;
}

header img {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 60px;
  margin-left: 200px;
  margin-top: 10px;
  
}

header nav h1 a {
  color: rgb(255, 255, 255);
  font-size: 22;
}




/* 


nav {
  width: 960px;
  margin: auto;
}

nav img {
  float: left;
  margin-top: 8px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #ddd;
}

nav ul li {
  margin-top: 30px;
}

main {
  width: 960px;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
 
}

section {
  display: flex; 
  justify-content: space-between;
  
}

section img {
  margin-right: 30px;
}

section article h2 {
  font-weight: 600;
}
 section article p {
  height: 300px;
  overflow: auto;
 }

 button:hover {
  background-color: salmon;
 }

button {
  transition: 350ms;
  background-color: #8d8d8d;
}

footer {
  height: 125px;
  background-color: #444;
  margin-top: 30px;
}
   */
  
/*  

 */ 