

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2DFCE;
  
}

header {
  background-color: teal;
  height: 85px;
  margin-bottom: 30px;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3vw;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  mar;
}

header img {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 60px;
  margin-left: 200px;
  margin-top: 10px;
  
}

header nav h1 a {
  color: rgb(255, 255, 255);
  font-size: 22;
}


